@*
    
*@
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My First Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="LocalTime" asp-action="Index">LocalTime</a>
                </li>
                <li>
                    <a asp-controller="RandomNumber" asp-action="Index">Random Number</a>
                </li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
    </body>
</html>
